<div class="container">
  <h2>All listings</h2>
  <button><%= link_to("Add new", new_listing_path) %>
  </button>
  <div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Breed</th>
          <th>Sex</th>
          <th>Price</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.id %></td>
            <td><%= listing.title%></td>
            <td><%= listing.breed.name %></td>
            <td><%= listing.sex %></td>
            <td>$ <%= listing.price %></td>
            <td><%= listing.city %></td>
            <td><%= listing.state %></td>
            <td><%= link_to('Show', listing_path(listing)) %></td>
            <td><%= link_to('Edit', edit_listing_path(listing)) %></td>
            <td><%= link_to('Delete', delete_listing_path(listing)) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
