<div>
  <%= link_to '<<< Back', listings_path %>
</div>
<div class="show-wrapper">
  <div class="side-details">
    <div class="show-lizard">
      <%= image_tag @listing.picture if @listing.picture.attached? %>
    </div>
    <p><%= @listing.breed.name %></p>
    <p> <%= fa_icon @listing.male? ? "mars" : "venus" %> <%= @listing.male? ? "Male" : "Female" %></p>
    <p> <%= @listing.age.to_i == 1 ? "#{@listing.age} year old" : "#{@listing.age} years old" %> </p>
    <p> <%= @listing.city %>, <%= @listing.state %></p>
  </div>
  <div class="details">
    <h2 class="title"><%= @listing.title %></h2>
    <p><%= @listing.description %></p>
    <p> <%= @listing.diet %></p>
    <br/>
    <button data-stripe="payment">
      Pay Deposit
    </button>
  </div>
</div>
<hr/>
